<p>Hello Admin,</p>
<p>Adminoh have 1 more registration with below Details</p>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created on</th>
        <th>Expires on</th>
    </tr>
    <tr>
        <td>{{ first_name }} {{ last_name }}</td>
        <td>{{ email }}</td>
        <td>{{ created }}</td>
        <td>{{ expired }}</td>
    </tr>
</table>
<p>
<b>Regards, Adminoh</b>
</p>